*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: content-box;
    font-size: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: max-content;
    
}


.box {
    display: block;
    size: 20px 20px;
    border: 1px;
    height: 270px;
    width: 270px;
    margin: 20px 10px;
}

.red {
    background-color: red;
    color: yellow;
}

.black {
    background: black;
    color: white;
}